name: Publish Package to npmjs

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      dist-tag:
        description: "npm dist-tag to publish under"
        required: false
        default: "alpha"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --immutable
      - run: yarn build
      - run: npm publish --access public --tag ${{ github.event.inputs.dist-tag || 'alpha' }}
